{% extends "layout.html" %}
{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1>Scooters in Austin, TX</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/" target="_blank"
                    data-mce-target="_blank">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <h2>Data Analysis and Visualizations</h2>
        </div>
        <div class="row">
            <div class="col">

                <!-- -------------- Insert Intro Blurb Here --------------- -->
                <p>
                    If you've been out and about on campus or in downtown Austin, you can't help but notice that
                    scooters are all over the place. Using data available from the <a
                        href="https://data.austintexas.gov/City-Government/311-Unified-Data-Test-Site-2019/i26j-ai4z">City
                        of Austin</a>, we explored metrics around distance and duration of scooter rides as well as
                    complaints by zipcode.
                </p>
                <p>
                    In the first analysis conducted on the data we merged data sets to create
                    visualizations comparing complaints to rides, to see if there were some neighborhoods that were
                    being the squeaky wheels or if there really was a scooter problem in certain areas. As we had
                    hypothesized, scooters that find their way into further out neighborhoods are less likely to be
                    picked up and thus take longer to be ridden back into town, they are also much more likely to result
                    in a
                    complaint.
                </p>
                <p>
                    In the initial analysis, we identified some <i>limitations</i> and remaining questions we had,
                    this WebApp is the result of the further analysis.
                </p>
            </div>
            <div class="col">
                <img src='./static/austin-scooter.jpg' alt="Scooters in Austin">
            </div>
            <div class="row">
                <p>
                    Our Project is a dashboard for reviewing complaints, rides, and certain trends that we found
                    interesting.</p>
                <p>The routes you can find are:</p>
                <ul>
                    <li>Longest rides, by duration and distance</li>
                    <li>Rides that went nowhere, aka, zero-distance rides</li>
                    <li>Route to generate a Random Ride and explore its stats</li>
                    <li>What is the red zone, or neighborhoods you just shouldn't leave scooters in?</li>
                    <li>What are the percent of complaints, rides in, rides out, and other stats about specific zip
                        codes?</li>
                </ul>

                <p>
                    We hope you'll find this data to be as interesting as we did, regardless of whether you consider
                    yourself a part of the shared mobility revolution or not.
                </p>
            </div>
        </div>
        <div class="row">
            <!-- -------------- Insert a plot here --------------- -->
            <div id="complaintDiv" style="width:100%;height:100%;"></div>
            <!-- -------------- ------------------ --------------- -->
        </div>
    </div>
    </div>
</main>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Plots -->
<script src="./static/js/complaintplot.js"></script>
{% endblock %}