{% extends "layout.html" %}
{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">The longest ride in town</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/" target="_blank"
                    data-mce-target="_blank">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                </a>
            </div>
        </div>
    </div>
    <div class="container"> 
        <div class="row">
    <div class="col-6">

    
    <div id="myDiv"></div>
</div>
<div class="col-6">

    
<div id="myDiv1"></div>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h4> The longest ride in Austin, TX</h4>
            <!-- -------------- Insert a plot here --------------- -->
            <div id="tester" style="width:100%;height:100%;"></div>
            <!-- -------------- ------------------ --------------- -->
        </div>
        <div class="row">
            <div class="col">
                <h1>Explore the data!</h1>
                <!-- -------------- Insert Intro Blurb Here --------------- -->
                <p> HODOR hodor, hodor. Hodor, hodor. Hodor. Hodor. Hodor hodor HODOR! Hodor. HODOR? Hodor hodor! HODOR?
                    Hodor hodor. Hodor, hodor. Hodor. Hodor. Hodor, hodor. Hodor. Hodor... Hodor hodor. Hodor, hodor,
                    hodor hodor. HODOR? Hodor hodor! Hodor! Hodor hodor.
                </p>
                <p> HODOR hodor, hodor. Hodor, hodor. Hodor. Hodor. Hodor hodor HODOR! Hodor. HODOR? Hodor hodor! HODOR?
                    Hodor hodor. Hodor, hodor. Hodor. Hodor. Hodor, hodor. Hodor. Hodor... Hodor hodor. Hodor, hodor,
                    hodor hodor. HODOR? Hodor hodor! Hodor! Hodor hodor.
                </p>
                <p> HODOR hodor, hodor. Hodor, hodor. Hodor. Hodor. Hodor hodor HODOR! Hodor. HODOR? Hodor hodor! HODOR?
                    Hodor hodor. Hodor, hodor. Hodor. Hodor. Hodor, hodor. Hodor. Hodor... Hodor hodor. Hodor, hodor,
                    hodor hodor. HODOR? Hodor hodor! Hodor! Hodor hodor.
                </p>
                <p> HODOR hodor, hodor. Hodor, hodor. Hodor. Hodor. Hodor hodor HODOR! Hodor. HODOR? Hodor hodor! HODOR?
                    Hodor hodor. Hodor, hodor. Hodor. Hodor. Hodor, hodor. Hodor. Hodor...
                </p>
            </div>
            <div class="col">
                <img src='./static/austin-scooter.jpg' alt="Scooters in Austin">
            </div>
        </div>
    </div>
</main>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="./static/js/longest_distance.js" ></script> 
<script src="./static/js/longest_duration_plot.js" ></script> 
<!-- Plots -->
<!-- <script>
    TESTER = document.getElementById('tester');
    Plotly.newPlot(TESTER, [{
        x: [1, 2, 3, 4, 5],
        y: [1, 2, 4, 8, 16]
    }], {
        margin: { t: 0 }
    });
</script> -->
{% endblock %}