{% extends "layout.html" %}

{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <!-- Insert title here -->
        <h1>Scooters in Austin, TX</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/" target="_blank"
                    data-mce-target="_blank">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>Explore Scooter Rides that went.. Nowhere!</h2>
        </div>
        <br>
        <div class="row">
            <p> A huge limitation with our first data set was that we had a lot of rides that went nowhere. We wanted
                to embrace this limitation and dig into some of the questions we had about rides that go nowhere.
            </p>
            <p><i>Hang out for a second, as some of this data takes longer to load, there are a lot of scooter
                    rides!</i>
            </p>
            <p>The Y axis is logarithmic because there was such a range in duration. The average ride to nowhere was 2
                minutes. One extreme was a 27.6 hour ride to nowhere.
            </p>
            <p>Use the dropdown below to toggle between filters.</p>

        </div>
        <div class="row">
            <select id="box_dropdown" onchange="getData(this.value)">
                <option value="weekday">Weekday</option>
                <option value="zip">Zipcode</option>
                <option value="month_name">Month</option>
                <option value="hour">Hours</option>
            </select>
        </div>
        <br>
        <!-- -------------- Insert a plot here --------------- -->
        <div id="nowhereBar" style="width:100%;height:100%;"></div>
        <!-- -------------- ------------------ --------------- -->
        <!-- -------------- Insert a plot here --------------- -->
        <div id="nowhereBox" style="width:100%;height:100%;"></div>
        <!-- -------------- ------------------ --------------- -->
    </div>
</main>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Plots -->
<script src="./static/js/0-dist_box.js"></script>
<script src="./static/js/0-dist_counts.js"></script>
{% endblock %}