{% extends "layout.html" %}

{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <!-- Insert title here -->
        <h1 class="h2">Explore a RANDOM Route!</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/" target="_blank"
                    data-mce-target="_blank">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <h2>This is the RANDOM Route Austin, TX</h2>
        </div>
        <!-- -------------- Insert a plot here --------------- -->
        <div id="randomDiv" style="width:100%;height:100%;"></div>
        <!-- -------------- ------------------ --------------- -->
        <div class="row">
            <h1>This is an H1 Title!</h1>
            <p> HODOR hodor, hodor. Hodor, hodor. Hodor. Hodor. Hodor hodor HODOR! Hodor. HODOR? Hodor hodor! HODOR?
                Hodor hodor. Hodor, hodor. Hodor. Hodor. Hodor, hodor. Hodor. Hodor... Hodor hodor. Hodor, hodor,
                hodor hodor. HODOR? Hodor hodor! Hodor! Hodor hodor.
            </p>
            <p> HODOR hodor, hodor. Hodor, hodor. Hodor. Hodor. Hodor hodor HODOR! Hodor. HODOR? Hodor hodor! HODOR?
                Hodor hodor. Hodor, hodor. Hodor. Hodor. Hodor, hodor. Hodor. Hodor... Hodor hodor. Hodor, hodor,
                hodor hodor. HODOR? Hodor hodor! Hodor! Hodor hodor.
            </p>
            <p> HODOR hodor, hodor. Hodor, hodor. Hodor. Hodor. Hodor hodor HODOR! Hodor. HODOR? Hodor hodor! HODOR?
                Hodor hodor. Hodor, hodor. Hodor. Hodor. Hodor, hodor. Hodor. Hodor... Hodor hodor. Hodor, hodor,
                hodor hodor. HODOR? Hodor hodor! Hodor! Hodor hodor.
            </p>
        </div>
    </div>
</main>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Plots -->
<script>
    TESTER = document.getElementById('tester');
    Plotly.newPlot(TESTER, [{
        x: [1, 2, 3, 4, 5],
        y: [1, 2, 4, 8, 16]
    }], {
        margin: { t: 0 }
    });
</script>
{% endblock %}