{% extends "layout.html" %}
{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Explore Data by Zipcode!</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/" target="_blank"
                    data-mce-target="_blank">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                </a>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <h4> To update the information, just update the url above by replacing the zipcode with a new one!</h4>
        </div>
        <div class="row">
            <div class="well">
                <h5>SELECT Sample:</h5>
                <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Sample MetaData</h3>
                </div>
                <div id="sample-metadata" class="panel-body"></div>
            </div>
        </div>
    </div>
</main>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<!-- Plots -->
<!-- <script>
    TESTER = document.getElementById('tester');
    Plotly.newPlot(TESTER, [{
        x: [1, 2, 3, 4, 5],
        y: [1, 2, 4, 8, 16]
    }], {
        margin: { t: 0 }
    });
</script> -->
{% endblock %}